body {
  overflow: hidden;
}
#initpreloader {
  position: fixed;
  top:0; left:0;
  right:0; bottom:0;

  background: #000;

  z-index: 1000;
}
#initloader {
  width: 130px;
  height: 162px;
  position: absolute;
  left:50%; top:50%;
  background: url(../img/asforms.svg) no-repeat center 0;
  margin:-50px 0 0 -50px;
}
#initloader:before {
  content: " G F S I N I E S T R O S ";
  display: inline-block;

  color: #FFF;
  background-color: #000;


  position: relative;
  font-size: 2em;
  top: 168px;
  width: 300px;
  left: -88px;;
  text-align: center;
}
